@charset "utf-8";
/* CSS Document */

#certify {
	position: relative;
	max-width: 1360px;
	margin: 30px auto 0 auto;
}

#certify .swiper-container3 { margin-bottom:100px;
}

#certify  .swiper-slide {
	width: 520px;
	background: #fff;
	box-shadow: 0 8px 30px #ddd;
}
#certify  .swiper-slide img{
	display:block;
}
#certify  .swiper-slide p {
	line-height: 68px;
	padding-top: 0;
	text-align: center;
	color: #636363;
	font-size: 16px;
	margin: 0;
}

#certify .swiper-pagination {
	width: 100%;
	bottom: 20px;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
	border: 3px solid #fff;
	background-color: #d5d5d5;
	width: 10px;
	height: 10px;
	opacity: 1;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
	border: 2px solid #7ec14f;
	background-color: #fff;
}

#certify .swiper-button-prev {
	left: 0px;
	width: 45px;
	height: 45px;
	background: url("../images/wm_button_icon.png")/*tpa=http://www.jabpark.com/skins/demo/images/wm_button_icon.png*/ no-repeat;
	background-position: 0 0;
	background-size: 100%;
}

#certify .swiper-button-prev:hover {
	background-position: 0 -46px;
	background-size: 100%
}

#certify .swiper-button-next {
	right: 0px;
	width: 45px;
	height: 45px;
	background: url("../images/wm_button_icon.png")/*tpa=http://www.jabpark.com/skins/demo/images/wm_button_icon.png*/ no-repeat;
	background-position: 0 -93px;
	background-size: 100%;
}

#certify .swiper-button-next:hover {
	background-position: 0 -139px;
	background-size: 100%
}




@media(max-width:768px){
	
	#certify .swiper-slide { width:100%; }
	#certify .swiper-button-next { right:10px; }
	#certify .swiper-button-prev { left:10px; }
}





